
.first
{
    width:30%;
    background-color: brown;
    height:150px;
    position:static;
 

    

}
.second
{
    width:30%;
    background-color: blue;
    height:150px;
    position:static;
    
   
   

}
.third
{
    width:30%;
    background-color: green;
    height:150px;

    position:static;
    

}